*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0 15px;
}

#reproductor,#lista{
	float: left;
	height: 100%;
}

#reproductor{
	width: 70%;
	padding: 15px;
}

#player,#info{
	width: 100%;
}
#player{
	height: 450px;
	background-color: black;
	margin: 0 0 15px 0;
}
#player #imageContainer{
	height: 90%;
}
#player img{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
}
#player audio{
	padding: 0;
	width: 100%;
}
#info{
	padding: 5px 15px;
	border: 1px solid gray;
	border-radius: 5px;
}
#info ul{
	list-style: none;
	margin-left: -45px;
}
#info ul li{
	margin-bottom:10px;
}
#info ul li .label{
	font-weight: bold;
}

#info ul li .contenido{
	margin-left: 15px;
}

#lista{
	margin-top: 15px;
	width: 30%;
	border: 1px solid gray;
}
#lista .song{
	border: 1px solid gray;
	padding: 15px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid gray;
}
#lista .song:hover{
	background-color: gray;
	color: white;
	font-weight: bold;
	font-size: 130%;
}

.sectionTitle{
	width: 100%;
	padding: 5px 15px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 150%;
	background-color: black;
	color: white;
}
